fastapi
uvicorn
jinja2
google-cloud-aiplatform
google-api-python-client
python-decouple
sqlalchemy[asyncio]
aiosqlite
passlib[bcrypt]
python-jose[cryptography]
python-multipart
asyncpg
google-generativeai
python-dotenv